- name: Install apt packages
  apt:
    update_cache: yes
    name: "{{ item }}"
  loop:
    - apache2
    - mysql-client
    - php
    - php-gd
    - php-pdo
    - php-mysql
    - php-dom
    - php-mbstring
    - php-curl
    - ncdu
    - gh        
    - vim
    - nfs-common
    - htop   
    - qemu-guest-agent
    - ceph-common
  become: true
  
- name: Ensure kevin is in the www-data group
  ansible.builtin.user:
    name: "{{ ANSIBLE_USER }}"
    groups: www-data
    append: yes
  become: true

- name: Identify Repository/Application
  ansible.builtin.set_fact:
    APPLICATION: "{{ group_names | select('match', '^repo_') | first | replace('repo_', '') }}"

- name: Enable and stop apache2 and qemu 
  ansible.builtin.service:
    name: "{{ item }}"
    enabled: yes
    state: stopped
  loop:
    - apache2
    - qemu-guest-agent
  become: true 

- name: Add NFS share entry to /etc/fstab
  lineinfile:
    path: /etc/fstab
    line: "{{ nfs_server }}:{{ nfs_share }}    {{ nfs_target_dir }}      nfs    {{ nfs_options | join(',') }}    0 0"
    insertafter: EOF
  become: true                           

- name: Unmount ceph share if mounted
  become: true
  ansible.posix.mount:
    path: "{{ ceph_target_dir }}"
    state: unmounted

- name: Unmount NFS share if mounted
  become: true
  ansible.posix.mount:
    path: "{{ nfs_target_dir }}"
    state: unmounted

- name: Create Ceph secret file
  copy:
    content: "{{ ceph_secret }}"
    dest: "/etc/ceph/{{ ceph_user }}.secret"
    owner: root
    group: root
    mode: '0600'
  become: true

- name: Remove web directory if it exists
  become: true
  ansible.builtin.file:
    path: "/var/www/html/"
    state: absent      

- name: Create config sync
  file:
    path: /var/www/sync
    state: directory
  become: true

- name: Sync web and vendor directories
  # Using synchronize requires rsync on both ends
  ansible.posix.synchronize:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    delete: yes
    rsync_opts: "{{ item.opts | default([]) }}"
  loop:
    - { src: "{{ git_dir }}/.build/html/", dest: "/var/www/html/", opts: ["--exclude=sites/default/files", "--exclude=sites/default/settings.php"] }
    - { src: "{{ git_dir }}/.build/vendor/", dest: "/var/www/vendor/" }
  become: true

- name: Sync vendor directory
  ansible.posix.synchronize:
    src: "{{ git_dir }}/.build/vendor/"
    dest: "/var/www/vendor/"
    delete: yes
  become: true

- name: Replace Apache options for symlinks
  ansible.builtin.replace:
    path: /etc/apache2/apache2.conf
    regexp: "(<Directory /var/www/>)\\n(\\s+Options Indexes FollowSymLinks\\n\\s+AllowOverride) None(\\n\\s+Require all granted\\n</Directory>)"
    replace: "\\1\\n\\2 All\\3"
    backup: yes
  become: true

- name: Enable Apache rewrite and status modules
  become: true
  command: a2enmod rewrite status

- name:  disable apache default site
  become: true
  command: a2dissite 000-default.conf

- name: Copy the haproxy-target apache configuration file
  become: true
  template:
    src: "{{ git_dir }}/templates/haproxy-target.conf.j2"
    dest: "/etc/apache2/sites-available/haproxy-target.conf"     

- name:  enable haproxy-target site
  become: true
  command: a2ensite haproxy-target

- name: Copy php settings file
  become: true
  template:
    src: "{{ git_dir }}/templates/settings.php.j2"
    dest: "/var/www/html/sites/default/settings.php"     
        
- name: Check if source themes exist locally
  delegate_to: localhost
  run_once: true
  ansible.builtin.stat:
    path: "{{ git_dir }}/drupal/themes/"
  register: local_themes

- name: Copy theme(s)
  ansible.builtin.copy:
    src: "{{ git_dir }}/drupal/themes/"
    dest: "/var/www/html/themes/contrib/"
  when: local_themes.stat.exists 

- name: Copy .bash_aliases
  copy:
    src: "{{ git_dir }}/drupal/.bash_aliases"
    dest: "/home/{{ ANSIBLE_USER }}/"    

- name: Set ownership to www-data on target web dir
  ansible.builtin.file:
    path: /var/www/
    owner: www-data
    group: www-data
    recurse: yes
  become: true        

- name: Create NFS mount point 
  file:
    path: "{{ nfs_target_dir }}"
    state: directory
  become: true

- name: Create ceph mount point 
  file:
    path: "{{ ceph_target_dir }}"
    state: directory
  become: true

- name: Mount all NFS shares
  become: true
  command: mount -a    

- name: Mount CephFS and add to fstab
  ansible.posix.mount:
    path: "{{ ceph_target_dir }}"
    src: "{{ ceph_monitors }}:/{{ APPLICATION }}"
    fstype: ceph
    opts: "name={{ ceph_user }},secretfile=/etc/ceph/{{ ceph_user }}.secret,_netdev"
    state: mounted
  become: true

- name: Set ownership and permissions recursively on ceph
  become: true
  ansible.builtin.file:
    path: "{{ ceph_target_dir }}"
    owner: "www-data"
    group: "www-data"
    mode: "0775"
    recurse: yes

- name: Refresh cache and dbs
  import_tasks: /home/{{ ANSIBLE_USER }}/ansible/playbook/drupal/tasks/4b-update-cache-and-dbs.yaml

- name: Start apache2 and qemu 
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: yes
    state: started
  loop:
    - apache2
    - qemu-guest-agent
  become: true