---
- name: "PREP: Identify IDs for {{ current_app }}"
  set_fact:
    source_vmid: "{{ hostvars[groups['repo_' + current_app][0]]['custom_fields']['vmid'] }}"
    template_vmid: "{{ hostvars[groups['repo_' + current_app][0]]['custom_fields']['vmid'] ~ '0' }}"
    bake_complete: false

- name: "GLOBAL CLEANUP: Ensure {{ template_vmid }} is gone from PVE"
  delegate_to: pve
  shell: |
    qm unlock {{ template_vmid }} || true
    qm destroy {{ template_vmid }} --purge || true
  failed_when: false

- name: "SEARCH & BAKE: Find VM across nodes"
  include_tasks: 3-bake-search-logic.yaml
  loop: "{{ proxmox_nodes }}"
  loop_control:
    loop_var: node_item
  # Skip legs and stop if we already found and cloned the VM
  when: node_item != 'legs' and not bake_complete

- name: "SANITIZE: Finalize Template on PVE"
  delegate_to: pve
  # ... rest of your sanitization tasks ...