- name: "--- STARTING BAKE FOR: {{ current_app }} ---"
  set_fact:
    bake_found: false  # Reset this so search runs for THIS app
    # Explicitly calculate IDs here to ensure they are fresh
    source_vmid: "{{ hostvars[groups['repo_' + current_app][0]]['custom_fields']['vmid'] }}"
    template_vmid: "{{ hostvars[groups['repo_' + current_app][0]]['custom_fields']['vmid'] ~ '0' }}"

- name: "PHASE 1: Search and Clone for {{ current_app }}"
  include_tasks: 3a-create-template.yaml
  loop: "{{ hostvars['localhost']['proxmox_nodes'] }}"
  loop_control:
    loop_var: node_item

- name: "PHASE 2: Sanitize on PVE for {{ current_app }}"
  include_tasks: 3b-mod-template.yaml
  when: bake_found | bool