---
- name: "Check for VM {{ target_vmid }} on {{ current_node }}"
  delegate_to: "{{ current_node }}"
  remote_user: root
  shell: "qm config {{ target_vmid }}"
  register: vm_check
  failed_when: false
  changed_when: false
  when: bake_complete is undefined or not bake_complete

- name: "Clone, Migrate, and Template"
  when: 
    - (bake_complete is undefined or not bake_complete)
    - vm_check.rc == 0
  block:
    - name: "Cleanup old template on PVE"
      delegate_to: pve
      remote_user: root
      shell: "qm destroy {{ template_vmid }} --purge"
      failed_when: false

    - name: "Clone VM {{ target_vmid }} on {{ current_node }}"
      delegate_to: "{{ current_node }}"
      remote_user: root
      shell: >
        qm clone {{ target_vmid }} {{ template_vmid }} 
        --full --name {{ app }}-golden --storage truenas-nfs

    - name: "Migrate to PVE"
      delegate_to: "{{ current_node }}"
      remote_user: root
      shell: "qm migrate {{ template_vmid }} pve"
      when: current_node != 'pve'

    - name: "Mark as Complete"
      set_fact:
        bake_complete: true