- name: "Check for VM {{ source_vmid }} on {{ node_item }}"
  delegate_to: "{{ node_item }}"
  remote_user: root
  shell: "qm config {{ source_vmid }}"
  register: vm_check
  failed_when: false
  changed_when: false
  when: not bake_found | bool


- name: "Perform Migration and Bake"
  include_tasks: tasks/inner-migrate-and-bake.yaml
  remote_user: root
  when: 
    - not bake_found | bool
    - vm_check.rc is defined and vm_check.rc == 0


