- name: "--- DEPLOYING PROD: {{ current_app | upper }} ---"
  # We loop over every host in the current app's prod group
  include_tasks: 4a-deploy-prod-images.yaml
  loop: "{{ groups['repo_' + current_app] | intersect(groups['env_prod']) }}"
  loop_control:
    loop_var: target_host

- name: "--- POST-DEPLOY: Update DB for {{ current_app }} ---"
  # Run the DB tasks once on the first prod host of the group
  delegate_to: "{{ groups['repo_' + current_app] | intersect(groups['env_prod']) | first }}"
  import_tasks: tasks/4b-update-cache-and-dbs.yaml
  vars:
    APPLICATION: "{{ current_app }}"