- name: "Rebuilding {{ target_host }}"
  block:
    - name: "Identify App Name for {{ target_host }}"
      set_fact:
        APPLICATION: "{{ current_app }}"

    - name: "Force Terraform to recreate {{ target_host }}"
      delegate_to: terraform
      shell: |
        terraform taint 'module.{{ target_host }}.proxmox_vm_qemu.{{ target_host }}[0]'
        terraform apply -target='module.{{ target_host }}.proxmox_vm_qemu.{{ target_host }}[0]' -auto-approve
      args:
        chdir: "/home/kevin/terraform"

    - name: "Clear old SSH host key for {{ target_host }}"
      delegate_to: localhost
      shell: "ssh-keygen -f ~/.ssh/known_hosts -R {{ hostvars[target_host].ansible_host }}"
      ignore_errors: true

    - name: "Wait for {{ target_host }} to be SSH-ready"
      delegate_to: localhost
      wait_for:
        host: "{{ hostvars[target_host].ansible_host }}"
        port: 22
        state: started
        delay: 20
        timeout: 300

    - name: "Configure Services and Settings on {{ target_host }}"
      delegate_to: "{{ target_host }}"
      become: true
      block:
        - name: Enable and stop apache2
          ansible.builtin.service:
            name: apache2
            enabled: yes
            state: stopped

        - name: Copy php settings file
          ansible.builtin.template:
            src: "/home/{{ ANSIBLE_USER }}/{{ current_app }}/templates/settings.php.j2"
            dest: "/var/www/html/sites/default/settings.php"

        - name: Create staggered rsync cron job
          ansible.builtin.cron:
            name: "Backup CephFS to NFS"
            # Calculate offset based on host index in the specific app group
            hour: "{{ (3 + groups['repo_' + current_app].index(target_host)) % 24 }}"
            minute: "0"
            job: "rsync -az --delete {{ hostvars[target_host].ceph_target_dir }}/ {{ hostvars[target_host].nfs_target_dir }}/"
            user: root

        - name: Start apache 
          ansible.builtin.systemd:
            name: apache2
            state: started