- name: Rebuild Drupal Cache (drush cr)      
  ansible.builtin.command:
    cmd: /var/www/vendor/drush/drush/drush cr
  args:
    chdir: "/var/www"            
  when: inventory_hostname == groups['repo_' + APPLICATION][0]
  
- name: Update Drupal (drush up)      
  ansible.builtin.command:
    cmd: /var/www/vendor/drush/drush/drush updb -y
  args:
    chdir: "/var/www"      
  when: inventory_hostname == groups['repo_' + APPLICATION][0]
