---
- name: "Identify Source VMID for {{ current_app }}"
  set_fact:
    bake_source_node: ""
    # Your intersection logic to find the VMID from inventory facts
    source_vmid: >-
      {{ 
        (
          groups['repo_' + current_app] | 
          intersect(groups['env_dev']) | 
          sort
        ) | 
        map('extract', hostvars, ['custom_fields', 'vmid']) | 
        first 
      }}

- name: "Set Template ID for {{ current_app }} from {{ current_app }} {{ source_vmid }}"
  set_fact:
    template_vmid: "{{ source_vmid ~ '0' }}"

- name: "Locate {{ current_app }} on Proxmox Cluster"
  delegate_to: "{{ item }}"
  # Ensure we have the right path and permissions
  become: true 
  shell: "/usr/sbin/qm status {{ source_vmid }}"
  register: locate_check
  failed_when: false
  changed_when: false
  loop: "{{ groups['role_proxmox_host'] }}"
  # Add this to ignore the hosts that are currently down/unreachable
  ignore_unreachable: true

- name: "Set Source Node Fact"
  set_fact:
    bake_source_node: "{{ item.item }}"
  loop: "{{ locate_check.results }}"
  when: item.rc == 0
  no_log: true

- name: "Initiate Role"
  include_role:
    name: proxmox_imaging
  vars:
    pve_source_node: "{{ bake_source_node }}"
    pve_target_node: "pve"
    vmid_to_clone: "{{ source_vmid }}"
    new_template_id: "{{ template_vmid }}"
  when: bake_source_node != ""