- name: "Reset find flag for {{ current_app }}"
  set_fact:
    bake_source_node: ""
    source_vmid: "{{ app_configs[current_app].dev_vmid }}"
    template_vmid: "{{ app_configs[current_app].template_id }}"

- name: "Locate {{ current_app }} (VM {{ source_vmid }}) on Proxmox Cluster"
  delegate_to: "{{ item }}"
  remote_user: root
  shell: "qm status {{ source_vmid }}"
  register: locate_check
  failed_when: false
  changed_when: false
  loop: "{{ groups['role_proxmox_host'] }}"
  when: bake_source_node == ""

- name: "Set Source Node Fact"
  set_fact:
    bake_source_node: "{{ item.item }}"
  loop: "{{ locate_check.results }}"
  when: 
    - item.rc is defined 
    - item.rc == 0
  no_log: true

- name: "Stop VM and Bake Template"
  include_role:
    name: proxmox_imaging
  vars:
    pve_source_node: "{{ bake_source_node }}"
    pve_target_node: "pve" # Your 'Golden' storage node
    vmid_to_clone: "{{ source_vmid }}"
    new_template_id: "{{ template_vmid }}"
  when: bake_source_node != ""