- name: "Rebuild and Configure: {{ inventory_hostname }}"
  when: 
    - "'env_prod' not in group names"
  block:
    - name: "Infrastructure: Force Rebuild for {{ inventory_hostname }}"
      delegate_to: terraform
      shell: |
        terraform apply \
          -replace='proxmox_vm_qemu.proxmox_vms["{{ inventory_hostname }}"]' \
          -auto-approve
      args:
        chdir: "/home/kevin/terraform"

    - name: "Stability: Wait for {{ inventory_hostname }} SSH"
      delegate_to: localhost
      wait_for:
        host: "{{ ansible_host }}"
        port: 22
        state: started
        delay: 20
        timeout: 300        

    - name: "Deploy settings.php"
      become: true
      ansible.builtin.template:
        src: "/home/{{ ansible_user }}/{{ current_app }}/templates/settings.php.j2"
        dest: "/var/www/html/sites/default/settings.php"
        owner: www-data
        group: www-data
        mode: '0644'

    - name: "Restart apache"
      become: true
      ansible.builtin.systemd:
        name: apache2
        enabled: true
        state: restarted

    - name: "Cron: Create staggered rsync backup"
      become: true
      ansible.builtin.cron:
        name: "Backup CephFS to NFS"        
        hour: "{{ (3 + groups['repo_' + current_app].index(inventory_hostname)) % 24 }}"
        minute: "0"
        job: "rsync -az --delete {{ ceph_target_dir }}/ {{ nfs_target_dir }}/"
        user: root

