- name: "Rebuild and Configure: {{ inventory_hostname }}"
  when: 
    - "'repo_' + current_app in group_names"
  block:
    - name: "Infrastructure: Force Rebuild for {{ inventory_hostname }}"
      delegate_to: terraform
      shell: |
        terraform apply \
          -replace='proxmox_vm_qemu.proxmox_vms["{{ inventory_hostname }}"]' \
          -auto-approve
      args:
        chdir: "/home/kevin/terraform"