- name: Build the Drupal composer files centrally
  hosts: role_drupal:&env_dev
  gather_facts: false
  vars_files:
    - vars.yaml
  tasks:
    - name: Identify Repository and Build Locally
      # We delegate the entire block to localhost
      delegate_to: localhost
      block:
        - name: Extract repo name from groups
          ansible.builtin.set_fact:
            # We look at the groups the current host belongs to
            # and strip 'repo_' to get just 'koscinski' or 'nerdperk'
            detected_repo: "{{ group_names | select('match', '^repo_') | first | replace('repo_', '') }}"
          
        - name: Create dynamic grouping for synchronization
          ansible.builtin.group_by:
            key: "build_ready_{{ detected_repo }}"

        - name: Run Build Block
          # This 'when' ensures only the first VM for each repo triggers the local build
          when: inventory_hostname == groups['repo_' + detected_repo][0]
          block:
            - name: Remove local build directory
              ansible.builtin.file:
                path: "/home/kevin/{{ detected_repo }}/.build"
                state: absent

            - name: Ensure .build directory exists
              ansible.builtin.file:
                path: "/home/kevin/{{ detected_repo }}/.build"
                state: directory
                mode: "0755"

            - name: Copy composer file
              ansible.builtin.copy:
                src: "/home/kevin/{{ detected_repo }}/drupal/composer.json"
                dest: "/home/kevin/{{ detected_repo }}/.build/composer.json"

            - name: Build composer project
              community.general.composer:
                command: install
                working_dir: "/home/kevin/{{ detected_repo }}/.build"
              register: composer_output

            - name: Show composer output
              ansible.builtin.debug:
                var: composer_output.stdout_lines
              when: composer_output.stdout is defined