- name: Build the Drupal composer files centrally
  hosts: "role_drupal:&env_dev{% if target_app is defined %}:&repo_{{ target_app }}{% endif %}"
  gather_facts: false
  vars_files:
    - vars.yaml
  tasks:
    - name: Identify Repository and Build Locally
      delegate_to: localhost
      block:
        - name: Extract repo name from groups
          ansible.builtin.set_fact:
            detected_repo: "{{ group_names | select('match', '^repo_') | first | replace('repo_', '') }}"
          
        - name: Create dynamic grouping for synchronization
          ansible.builtin.group_by:
            key: "build_ready_{{ detected_repo }}"

        - name: Run Build Block
          # the build only happens once on your local machine.
          when: inventory_hostname == (groups['repo_' + detected_repo] | intersect(ansible_play_batch) | first)
          block:
            - name: "Building {{ detected_repo }} locally..."
              ansible.builtin.file:
                path: "/home/kevin/{{ detected_repo }}/.build"
                state: "{{ item }}"
              loop: [absent, directory]

            - name: Copy composer file
              ansible.builtin.copy:
                src: "/home/kevin/{{ detected_repo }}/drupal/composer.json"
                dest: "/home/kevin/{{ detected_repo }}/.build/composer.json"

            - name: Build composer project
              community.general.composer:
                command: install
                working_dir: "/home/kevin/{{ detected_repo }}/.build"
                # Adding optimize_autoloader is usually best for Drupal
                optimize_autoloader: yes 
              register: composer_output
            
            - name: Show Composer Output
              ansible.builtin.debug:
                var: composer_output.stdout_lines
              when: composer_output.stdout is defined