- name: Build the Drupal composer files
  hosts: role_drupal:&env_dev
  vars_files:
    - vars.yaml
  tasks:      
    - name: Build composer tasks from ansible
      import_tasks: tasks/1-build-composer.yaml