- name: Bake Drupal Images
  hosts: all
  gather_facts: false
  remote_user: root
  vars_files:
    - vars.yaml
    - vault.yaml

  tasks:
    - name: Identify Apps and Nodes
      run_once: true
      set_fact:
        app_list: "{{ groups['role_drupal'] | intersect(ansible_play_batch) | map('extract', hostvars, 'group_names') | flatten | select('match', '^repo_') | map('replace', 'repo_', '') | unique | list }}"
        proxmox_nodes: "{{ groups['role_proxmox_host'] | difference(groups['legs'] | default([])) }}"

    - name: Trigger Baking Process
      include_tasks: tasks/3-bake-image-tasks.yaml
      loop: "{{ q('nested', app_list, proxmox_nodes) }}"
      loop_control:
        loop_var: nested_item
      vars:
        # Define these here so they are available immediately in the task file
        current_app: "{{ nested_item[0] }}"
        current_node: "{{ nested_item[1] }}"
      run_once: true