- name: Bake Drupal Images
  hosts: localhost
  gather_facts: false
  vars_files:
    - vars.yaml
    - vault.yaml

  tasks:
    - name: Validate App Variable
      fail:
        msg: "Please provide an app to bake. Example: -e 'app=koscinski'"
      when: app is undefined

    - name: Identify Target VM Details
      set_fact:
        # We find the first dev host for this app to get the VMID
        target_vmid: "{{ hostvars[groups['repo_' + app] | intersect(groups['env_dev']) | first]['custom_fields']['vmid'] }}"
        template_vmid: "{{ hostvars[groups['repo_' + app] | intersect(groups['env_dev']) | first]['custom_fields']['vmid'] ~ '0' }}"
        # Define your Proxmox cluster nodes
        proxmox_nodes: "{{ groups['role_proxmox_host'] | difference(groups['legs'] | default([])) }}"

    - name: "Find and Bake VM {{ target_vmid }}"
      include_tasks: tasks/3-bake-logic.yaml
      loop: "{{ proxmox_nodes }}"
      loop_control:
        loop_var: current_node