- name: Bake Drupal Images
  # This ensures localhost is ALWAYS included, even if you --limit to something else
  hosts: localhost,all 
  gather_facts: false
  vars_files:
    - vars.yaml
    - vault.yaml

  tasks:
    - name: Identify Apps and Nodes
      # We only want this to run once on the localhost controller
      run_once: true
      delegate_to: localhost
      set_fact:
        app_list: >-
          {% set all_apps = groups['role_drupal'] | map('extract', hostvars, 'group_names') | flatten | select('match', '^repo_') | map('replace', 'repo_', '') | unique | list %}
          {% if ansible_limit is defined %}
            {{ all_apps | select('in', ansible_limit) | list }}
          {% else %}
            {{ all_apps }}
          {% endif %}
        proxmox_nodes: "{{ groups['role_proxmox_host'] | difference(groups['legs'] | default([])) }}"

    - name: Ensure app_list is a list object
      run_once: true
      delegate_to: localhost
      set_fact:
        app_list: "{{ app_list | from_yaml }}"

    - name: Trigger Baking Process
      # Only the localhost 'instance' of this play should trigger the includes
      include_tasks: tasks/3-bake-image-tasks.yaml
      loop: "{{ app_list }}"
      loop_control:
        loop_var: current_app
      when: inventory_hostname == 'localhost'