- name: Bake Drupal Images
  hosts: localhost
  gather_facts: false
  remote_user: root
  vars_files:
    - vars.yaml
    - vault.yaml

  tasks:
    - name: Identify Apps and Nodes
      run_once: true
      set_fact:
        app_list: >-
          {% if ansible_limit is defined %}
          {{ groups['role_drupal'] | intersect(ansible_play_batch_all) | map('extract', hostvars, 'group_names') | flatten | select('match', '^repo_') | map('replace', 'repo_', '') | unique | list }}
          {% else %}
          {{ groups['role_drupal'] | map('extract', hostvars, 'group_names') | flatten | select('match', '^repo_') | map('replace', 'repo_', '') | unique | list }}
          {% endif %}
        proxmox_nodes: "{{ groups['role_proxmox_host'] | difference(groups['legs'] | default([])) }}"

    - name: Trigger Baking Process
      include_tasks: tasks/3-bake-image-tasks.yaml
      loop: "{{ app_list }}"
      loop_control:
        loop_var: current_app
      run_once: true