- name: Phase 1 - Filter Apps based on Limit
  hosts: all
  gather_facts: false
  tasks:
    - name: Determine which apps are in scope
      run_once: true
      set_fact:
        # Intersect the limit with our Drupal role to get the app list
        active_drupal_apps: "{{ groups['role_drupal'] | intersect(ansible_play_batch) | map('extract', hostvars, 'group_names') | flatten | select('match', '^repo_') | map('replace', 'repo_', '') | unique | list }}"
      # Save this list to a dummy host so the next play can see it
      add_host:
        name: "APP_HOLDER"
        apps: "{{ active_drupal_apps }}"

    - name: Phase 2 - Bake Images on Proxmox Nodes
      # Now we target the Proxmox nodes directly. 
      # This play will run as long as you don't limit out the Proxmox nodes.
      hosts: role_proxmox_host:!legs
      remote_user: root
      gather_facts: false
      vars_files:
        - vars.yaml
        - vault.yaml
      
      tasks:
        - name: Fail if no apps were found in limit
          meta: end_play
          when: hostvars['APP_HOLDER']['apps'] | length == 0

        - name: "Status: Baking templates for {{ hostvars['APP_HOLDER']['apps'] | join(', ') }}"
          debug:
            msg: "Executing on Proxmox Node: {{ inventory_hostname }}"

        - name: Process each application template
          include_tasks: tasks/3-bake-image-tasks.yaml
          loop: "{{ hostvars['APP_HOLDER']['apps'] }}"
          loop_control:
            loop_var: current_app