- name: Create Production Templates for All Apps
  hosts: role_proxmox_host:!legs
  remote_user: root  
  vars_files:
    - vars.yaml
    - vault.yaml
  tasks:
    - name: Get list of applications from groups
      set_fact:
        app_list: "{{ groups['role_drupal'] | map('extract', hostvars, 'group_names') | flatten | select('match', '^repo_') | map('replace', 'repo_', '') | unique | list }}"
    - name: Process each application template
      include_tasks: tasks/3-create-template.yaml
      loop: "{{ app_list }}"
      loop_control:
        loop_var: current_app