- name: Bake Drupal Images
  hosts: localhost
  gather_facts: false
  vars_files:
    - vars.yaml
    - vault.yaml

  tasks:
    - name: Identify Apps to Bake
      set_fact:
        # If drupal_app is provided, put it in a list. 
        # Otherwise, find all repo names in the role_drupal group.
        app_list: >-
          {% if drupal_app is defined %}
            {{ [drupal_app] }}
          {% else %}
            {{ groups['role_drupal'] | map('extract', hostvars, 'group_names') | flatten | select('match', '^repo_') | map('replace', 'repo_', '') | unique | list }}
          {% endif %}
        proxmox_nodes: "{{ groups['role_proxmox_host'] | difference(groups['legs'] | default([])) }}"

    - name: "DEBUG - Apps to be processed"
      ansible.builtin.debug:
        var: app_list

    - name: Trigger Baking Process
      include_tasks: tasks/3-bake-image-tasks.yaml
      loop: "{{ app_list }}"
      loop_control:
        loop_var: current_app