- name: Bake Drupal Images
  hosts: localhost
  gather_facts: false
  remote_user: root
  vars_files:
    - vars.yaml
    - vault.yaml

  tasks:
    - name: Identify Apps and Nodes
      set_fact:
        # 1. Get all group names from drupal hosts
        # 2. Filter for 'repo_' groups
        # 3. Clean the 'repo_' prefix
        # 4. If a limit is provided, filter for apps mentioned in that limit
        app_list: >-
          {% set all_apps = groups['role_drupal'] | map('extract', hostvars, 'group_names') | flatten | select('match', '^repo_') | map('replace', 'repo_', '') | unique | list %}
          {% if ansible_limit is defined %}
            {{ all_apps | select('in', ansible_limit) | list }}
          {% else %}
            {{ all_apps }}
          {% endif %}
        proxmox_nodes: "{{ groups['role_proxmox_host'] | difference(groups['legs'] | default([])) }}"

    - name: Ensure app_list is a list object
      set_fact:
        app_list: "{{ app_list | from_yaml }}"

    - name: Trigger Baking Process
      include_tasks: tasks/3-bake-image-tasks.yaml
      loop: "{{ app_list }}"
      loop_control:
        loop_var: current_app
      run_once: true