- name: Deploy Prod Apps from Golden Images
  hosts: all:!env_dev
  gather_facts: false
  vars_files:
    - vars.yaml
    - vault.yaml
    - /home/kevin/db-server/playbook/vault.yml
  tasks:
    - name: Identify active Drupal applications
      set_fact:
        drupal_apps: "{{ groups['role_drupal'] | map('extract', hostvars, 'group_names') | flatten | select('match', '^repo_') | map('replace', 'repo_', '') | unique | list }}"

    - name: Process Serial Deployment
      run_once: true
      include_tasks: tasks/deploy-prod-tasks.yaml
      loop: "{{ drupal_apps }}"
      loop_control:
        loop_var: current_app