- name: Deploy Prod Apps from Golden Images
  hosts: all:!env_dev
  gather_facts: false
  vars_files:
    - vars.yaml
    - vault.yaml
    - /home/kevin/db-server/playbook/vault.yml
  tasks:
    - name: Identify active Drupal applications
      set_fact:
        drupal_apps: "{{ ansible_play_batch | map('extract', hostvars, 'group_names') | flatten | select('match', '^repo_') | map('replace', 'repo_', '') | unique | list }}"
        drupal_apps: "{{ ansible_play_batch | intersect(groups['role_drupal']) | map('extract', hostvars, 'group_names') | flatten | select('match', '^repo_') | map('replace', 'repo_', '') | unique | list }}"

    - name: "DEBUG - Apps in scope for this run"
      run_once: true
      ansible.builtin.debug:
        msg: "The following apps will be deployed: {{ drupal_apps }}"

    - name: Process Serial Deployment
      run_once: true
      include_tasks: tasks/4-deploy-prod-tasks.yaml
      loop: "{{ drupal_apps }}"
      loop_control:
        loop_var: current_app
      when: drupal_apps | length > 0

