- name: Determine Drupal sites to Deploy
  hosts: localhost
  gather_facts: false
  vars_files:
    - vars.yaml
    - vault.yaml
  tasks:
    - name: Identify target apps
      set_fact:
        app_list: "{{ [target_app] if target_app is defined else (groups['role_drupal'] | map('extract', hostvars, 'group_names') | flatten | select('match', '^repo_') | map('replace', 'repo_', '') | unique | list) }}"

- name: Serial Rolling Deploy for Prod
  # Note: Use env_prod here if this is for production! 
  # You had env_dev in your snippet.
  hosts: "role_drupal:&env_prod{% if target_app is defined %}:&repo_{{ target_app }}{% endif %}"
  serial: 1  
  vars_files:
    - vars.yaml
    - vault.yaml
  tasks:
    - name: Run deployment tasks
      include_tasks: tasks/4a-deploy-prod-images.yaml
      loop: "{{ hostvars['localhost']['app_list'] }}"
      loop_control:
        loop_var: current_app
      # Guard: Only run if this specific host belongs to the app being looped
      when: "'repo_' + current_app in group_names"

- name: Update DBs after deployment
  hosts: "role_drupal:&env_prod{% if target_app is defined %}:&repo_{{ target_app }}{% endif %}"
  vars_files:
    - vars.yaml
    - vault.yaml
  tasks:
    - name: Run Drupal updates
      include_tasks: tasks/4b-update-cache-and-dbs.yaml
      loop: "{{ hostvars['localhost']['app_list'] }}"
      loop_control:
        loop_var: current_app
      when: "'repo_' + current_app in group_names"