- name: Deploy Prod Apps from Golden Images
  hosts: localhost
  gather_facts: false
  vars_files:
    - vars.yaml
    - vault.yaml
  tasks:
    - name: Identify active Drupal applications
      set_fact:
        drupal_apps: "{{ groups['role_drupal'] | map('extract', hostvars, 'group_names') | flatten | select('match', '^repo_') | map('replace', 'repo_', '') | unique | list }}"

    - name: Run Serial Deployment per App
      include_tasks: tasks/4-deploy-prod.yaml
      loop: "{{ drupal_apps }}"
      loop_control:
        loop_var: current_app
        label: "{{ current_app }}"