- name: Deploy Prod Apps from Golden Images
  hosts: all
  gather_facts: false
  vars_files:
    - vars.yaml
    - vault.yaml
    - /home/kevin/db-server/playbook/vault.yml
  tasks:
    - name: Identify active Drupal applications
      set_fact:
        drupal_apps: "{{ groups['role_drupal'] | map('extract', hostvars, 'group_names') | flatten | select('match', '^repo_') | map('replace', 'repo_', '') | unique | list }}"

    - name: Process Serial Deployment
      # We only trigger this once for the entire play
      run_once: true
      include_tasks: tasks/4-deploy-prod.yaml
      loop: "{{ drupal_apps }}"
      loop_control:
        loop_var: current_app
      # This ensures that even if a Dev host is the 'leader', we don't proceed without apps
      when: drupal_apps | length > 0