- name: Build 
  hosts: pi
  vars_files:
    - /home/kevin/ansible/playbooks/pi/vars/main.yaml
  tasks:            

    - name: Check if SSH key is already present
      stat:
        path: "{{ pivars.pub_key_path }}"
      register: key_stat_result

    - name: Generate SSH key for accessing GitHub
      command: "ssh-keygen -t rsa -f {{ pivars.priv_key_path }} -N ''"
      when: not key_stat_result.stat.exists

    - name: Get key content
      command: "cat {{ pivars.pub_key_path }}"
      register: key_content

    - name: Check if known_host exists
      stat:
        path: "{{ pivars.KNOWN_HOSTS_PATH }}"
      register: known_hosts_stat

    - name: Create known_hosts if it doesn't exist
      file:
        path: "{{ pivars.KNOWN_HOSTS_PATH }}"
        state: touch
      when: not known_hosts_stat.stat.exists

    - name: Get the content of known hosts
      shell: "cat path: {{ pivars.KNOWN_HOSTS_PATH }} | grep github.com"
      register: host_stat
      failed_when: host_stat.rc > 1

    - name: Read SSH public key file
      slurp:
        src: "{{ pivars.pub_key_path }}"
      register: pub_key_data

    - name: Convert binary data to string
      set_fact:
        key_data: "{{ pub_key_data['content'] | b64decode | trim }}"

    - name: Add SSH public key to GitHub account
      uri:
        url: https://api.github.com/user/keys
        validate_certs: no
        method: POST
        body: 
          title: "{{ inventory_hostname }}"
          key: "{{ key_data }}"          
        body_format: json
        headers:
          Content-Type: "application/json"
          Authorization: "token {{ pivars.GITHUB_ACCESS_TOKEN }}"          
      register: task_log
      failed_when: task_log.status != 422 and task_log.status != 201

    - name: Check if the directory exists and is empty
      stat:
        path: "/home/kevin/pi"
      register: dir_stat

    - name: Clone the repository if the directory doesn't exist or is empty
      git:
        repo: "git@github.com:kevinabruner/pi.git"
        dest: "/home/kevin/pi"
        clone: yes
      environment:
        GIT_SSH_COMMAND: "ssh -o StrictHostKeyChecking=no"
      when: dir_stat.stat.exists == false or dir_stat.stat.isdir == false or dir_stat.stat.size == 0

    - name: Pull from the repository if the directory exists and is not empty
      git:
        repo: "git@github.com:kevinabruner/pi.git"
        dest: "/home/kevin/pi"
        update: yes
      environment:
        GIT_SSH_COMMAND: "ssh -o StrictHostKeyChecking=no"
      when: dir_stat.stat.exists == true and dir_stat.stat.isdir == true and dir_stat.stat.size > 0

    - name: Update repositories cache and install "curl" package
      ansible.builtin.apt:
        name: curl
        update_cache: yes
      become: true

    - name: Create the pihole directory
      ansible.builtin.file:
        path: /etc/pihole
        state: directory
        mode: '0755'
      become: true

    - name: Copy the pihole variables file 
      ansible.builtin.copy:
        remote_src: true
        src: /home/kevin/pi/setupVars.conf
        dest: /etc/pihole/
      become: true

    - name: Add the ip address to the pihole variables file
      ansible.builtin.lineinfile:
        path: /etc/pihole/setupVars.conf
        regexp: '^IPV4_ADDRESS'
        line: IPV4_ADDRESS={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
      become: true

    - name: Add netbox to the hosts file     
      ansible.builtin.lineinfile:        
        path: /etc/hosts
        line: "192.168.11.30 netbox.thejfk.ca"
        insertafter: EOF
      become: true

    - name: Download Pi-hole installation script
      ansible.builtin.get_url:
        url: "https://install.pi-hole.net"
        dest: "/tmp/pihole_install.sh"
        mode: "0755"
      become: true

    - name: Run Pi-hole installation script
      ansible.builtin.command: "/tmp/pihole_install.sh --unattended"
      become: true
    
    - name: Run local dns sync from netbox and capture output
      shell: python3 /home/kevin/pi/scripts/scan_netbox_dns.py
      register: python_output

    - name: Copy captured output to custom.list
      copy:
        content: "{{ python_output.stdout }}"
        dest: /etc/pihole/custom.list
      become: true

    - name: Read contents of github dns file
      slurp:
        src: /home/kevin/pi/custom.list
      register: local_file_content

    - name: Append contents to custom.list
      lineinfile:
        line: "{{ local_file_content.content | b64decode }}"
        dest: /etc/pihole/custom.list
      become: true