- name: Build 
  hosts: pi
  vars_files:
    - /home/kevin/ansible/playbooks/pi/vars/main.yaml
  tasks:
    - name: Ping my hosts
      ansible.builtin.ping:

    - name: Print the value of the key_path
      ansible.builtin.debug:
      msg: "The value of my_variable is {{ pivars.KEY_PATH }}"

    - name: Check if SSH key is already present
      stat:
        path: "{{ pivars.KEY_PATH }}"
      register: key_stat_result

    - name: Generate SSH key for accessing GitHub
      command: "ssh-keygen -t rsa -f {{ pivars.KEY_PATH }} -N ''"
      when: not key_stat_result.stat.exists

    - name: Get key content
      command: "cat {{ pivars.KEY_PATH }}"
      register: key_content

    - name: Check if known_host exists
      stat:
        path: "{{ pivars.KNOWN_HOSTS_PATH }}"
      register: known_hosts_stat

    - name: Create known_hosts if it doesn't exist
      file:
        path: "{{ pivars.KNOWN_HOSTS_PATH }}"
        state: touch
      when: not known_hosts_stat.stat.exists

    - name: Get the content of known hosts
      shell: "cat path: "{{ pivars.KNOWN_HOSTS_PATH }}" | grep github.com"
      register: host_stat
      failed_when: host_stat.rc > 1

    - name: Add SSH public key to GitHub account
      uri:
          url: https://api.github.com/user/keys
          validate_certs: no
          method: POST
          body:
          title: "{{ pivars.KEY_TITLE }}"
          path: "{{ pivars.KEY_PATH }}"
          key: "{{ pivars.GITHUB_ACCESS_TOKEN }}"
          body_format: json
          headers:
          Content-Type: "application/json"
          Authorization: "token "
      register: task_log
      failed_when: task_log.content.find('key is already in use') == 0

    - name: Clone the repository
      shell: GIT_SSH_COMMAND="ssh -i  -v -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"  clone  