- name: Build 
  hosts: pi
  vars_files:
    - /home/kevin/ansible/playbooks/pi/vars/main.yaml
  tasks:    
    - name: debug
      ansible.builtin.debug:
        msg: "The value of pivars.KEY_PATH is {{ pivars.KEY_PATH }}"
    
    - name: Check if SSH key is already present
      stat:
        path: "{{ pivars.KEY_PATH }}"
      register: key_stat_result

    - name: Generate SSH key for accessing GitHub
      command: "ssh-keygen -t rsa -f {{ pivars.KEY_PATH }} -N ''"
      when: not key_stat_result.stat.exists

    - name: Get key content
      command: "cat {{ pivars.KEY_PATH }}"
      register: key_content

    - name: Check if known_host exists
      stat:
        path: "{{ pivars.KNOWN_HOSTS_PATH }}"
      register: known_hosts_stat

    - name: Create known_hosts if it doesn't exist
      file:
        path: "{{ pivars.KNOWN_HOSTS_PATH }}"
        state: touch
      when: not known_hosts_stat.stat.exists

    - name: Get the content of known hosts
      shell: "cat path: {{ pivars.KNOWN_HOSTS_PATH }} | grep github.com"
      register: host_stat
      failed_when: host_stat.rc > 1

    - name: Add SSH public key to GitHub account
      uri:
        url: https://api.github.com/user/keys
        validate_certs: no
        method: POST
        body: 
          title: "{{ pivars.KEY_TITLE }}"
          key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDIwS7Gk8JYlGWEUHlE0c/Cjdihy/t40+P/sLOLhR4DpOndfjtqBg2aZdkSntJWF+aUqepz8wxE+6Xwvf0IlQtImdB3GvjsDp7rkIg5+DD7AwtcralKnEQqgNDfUHVhzugdtZzDplesWgD0GBin57v4NSK78tiXlsz2KZuj9d08lO0qhkYNwsrAvvUKhW2VMRCKmvU0F6bu3Q2IHFJhN3rtozGO6lZrEBgU2dS/6YuxsO7iFS8WJuAuIMzZcDCrprTzR5d+UCiFOF4ECl14ZgiLM2WjNv9NSPv7Joea8HxqkUTTlZdcY7rHd+kKyhTburjlMwE4eg2VuZ7HzUf4lKB/TAXmnuCt3Tw9OMpEbxXwO/DfGkIznHInaHCF2vrL5rTpOeUgwVNPB0vbmxs9Cd+5s0/6+kh/zdSdmNYkRIsfCFAb4KdX4FkVxDWPPDlidGg8xry97+ZL7nZAG/QWEt5alTpCoEGN6rY+s5mw8LBqj82kNQEbxKcmzK698sxpHEU= kevin@testing
"          
        body_format: json
        headers:
          Content-Type: "application/json"
          Authorization: "token {{ pivars.GITHUB_ACCESS_TOKEN }}"          
      register: task_log
      failed_when: task_log.status != 422 and task_log.status != 201




    - name: Clone the repository
      command: git clone git@github.com:kevinabruner/pi.git /home/kevin/pi
      register: clone_output
      ignore_errors: yes

    - name: Check if the repository was cloned successfully
      fail:
        msg: "Failed to clone the repository: {{ clone_output.stderr }}"
      when: clone_output.rc != 0

