- name: Build 
  hosts: pi
  serial: 1
  vars_files:
    - /home/kevin/ansible/playbooks/pi/vars/main.yaml
  tasks:            

    - name: Check if SSH key is already present
      stat:
        path: "{{ pub_key_path }}"
      register: key_stat_result

    - name: Generate SSH key for accessing GitHub
      command: "ssh-keygen -t rsa -f {{ priv_key_path }} -N ''"
      when: not key_stat_result.stat.exists    

    - name: Check if known_host exists
      stat:
        path: "{{ KNOWN_HOSTS_PATH }}"
      register: known_hosts_stat

    - name: Create known_hosts if it doesn't exist
      file:
        path: "{{ KNOWN_HOSTS_PATH }}"
        state: touch
      when: not known_hosts_stat.stat.exists

    - name: Read SSH public key file
      slurp:
        src: "{{ pub_key_path }}"
      register: pub_key_data

    - name: Convert binary data to string
      set_fact:
        key_data: "{{ pub_key_data['content'] | b64decode | trim }}"

    - name: Add SSH public key to GitHub account
      uri:
        url: https://api.github.com/user/keys
        validate_certs: no
        method: POST
        body: 
          title: "{{ inventory_hostname }}"
          key: "{{ key_data }}"          
        body_format: json
        headers:
          Content-Type: "application/json"
          Authorization: "token {{ GITHUB_ACCESS_TOKEN }}"          
      register: task_log
      failed_when: task_log.status != 422 and task_log.status != 201

    - name: Check if the directory exists and is empty
      stat:
        path: "{{ CLONE_DEST }}"
      register: dir_stat

    - name: Clone the repository if the directory doesn't exist or is empty
      git:
        repo: "{{ GIT_REPO }}"
        dest: "{{ CLONE_DEST }}"
        clone: yes
      environment:
        GIT_SSH_COMMAND: "ssh -o StrictHostKeyChecking=no"
      when: dir_stat.stat.exists == false or dir_stat.stat.isdir == false or dir_stat.stat.size == 0

    - name: Pull from the repository if the directory exists and is not empty
      git:
        repo: "{{ GIT_REPO }}"
        dest: "{{ CLONE_DEST }}"
        update: yes
      environment:
        GIT_SSH_COMMAND: "ssh -o StrictHostKeyChecking=no"
      when: dir_stat.stat.exists == true and dir_stat.stat.isdir == true and dir_stat.stat.size > 0

    - name: Create the pihole directory
      ansible.builtin.file:
        path:  PI_DIR 
        state: directory
        mode: '0755'
      become: true

    - name: Copy the pihole variables file 
      ansible.builtin.copy:
        remote_src: true
        src: "{{ CLONE_DEST }}/setupVars.conf"
        dest: /etc/pihole/
      become: true

    - name: Add the ip address to the pihole variables file
      ansible.builtin.lineinfile:
        path: "{{ PI_DIR }}/setupVars.conf"
        regexp: '^IPV4_ADDRESS'
        line: IPV4_ADDRESS={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
      become: true

    - name: Add netbox to the hosts file     
      ansible.builtin.lineinfile:        
        path: /etc/hosts
        line: "192.168.11.30 netbox.thejfk.ca"
        insertafter: EOF
      become: true

    - name: Gather facts about services
      ansible.builtin.service_facts:

    - name: Check if Pi-hole service is running
      ansible.builtin.debug:
        msg: "Pi-hole service is running"
      when: "'pihole-FTL.service' in ansible_facts.services"

    - name: Download Pi-hole installation script
      ansible.builtin.get_url:
        url: "https://install.pi-hole.net"
        dest: "/tmp/pihole_install.sh"
        mode: "0755"
      become: true
      when: "'pihole-FTL.service' not in ansible_facts.services"

    - name: Run Pi-hole installation script
      ansible.builtin.command: "/tmp/pihole_install.sh --unattended"
      become: true
      when: "'pihole-FTL.service' not in ansible_facts.services"
    
    - name: Read local dns entries from netbox and capture output
      shell: "python3 {{ CLONE_DEST }}/scripts/scan_netbox_dns.py"
      register: python_output

    - name: Read contents of github dns file
      slurp:
        src: "{{ CLONE_DEST }}/custom.list"
      register: local_file_content

    - name: Copy captured output to custom.list
      copy:
        content: "{{ python_output.stdout }}"
        dest: /etc/pihole/custom.list
      become: true    

    - name: Append contents to custom.list
      lineinfile:
        line: "{{ local_file_content.content | b64decode }}"
        dest: /etc/pihole/custom.list
      become: true