- name: Build 
  hosts: pi
  tasks:
    - name: Ping my hosts
      ansible.builtin.ping:

    - name: Check if SSH key is already present
      stat:
        path: "/home/kevin/.ssh/id_rsa.pub"
      register: key_stat_result

    - name: Generate SSH key for accessing GitHub
      command: "ssh-keygen -t rsa -f  -N ''"
      when: not key_stat_result.stat.exists

    - name: Get key content
      command: "cat /home/kevin/.ssh/id_rsa.pub"
      register: key_content

    - name: Check if known_host exists
      stat:
        path: "/home/kevin/.ssh/known_hosts"
      register: known_hosts_stat

    - name: Create known_hosts if it doesn't exist
      file:
        path: "/home/kevin/.ssh/known_hosts"
        state: touch
      when: not known_hosts_stat.stat.exists

    - name: Get the content of known hosts
      shell: "cat /home/kevin/.ssh/known_hosts | grep github.com"
      register: host_stat
      failed_when: host_stat.rc > 1

    - name: Add SSH public key to GitHub account
      uri:
        url: https://api.github.com/user/keys
        validate_certs: no
        method: POST
        body:
          title: "Kevin"
          key: "{{ lookup('file', '/home/kevin/.ssh/id_rsa.pub') }}"
        body_format: json
        headers:
          Content-Type: "application/json"
          Authorization: "token "
      register: task_log
      failed_when: "'key is already in use' in task_log.stderr"


    - name: Clone the repository
      shell: GIT_SSH_COMMAND="ssh -i  -v -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"  clone  