- name: Run Drush commands
  become: true
  become_user: www-data
  ansible.builtin.shell:
    cmd: "../../vendor/bin/drush {{ item }}"
    chdir: "/var/www/html/sites/default"
  loop:
    - "state:set system.maintenance_mode 1"
    - "updatedb -y"
    - "config:import -y"
    - "cache:rebuild"
    - "state:set system.maintenance_mode 0"