- name: Ensure local build directory exists
  delegate_to: localhost
  run_once: true
  ansible.builtin.stat:
    path: "{{ git_dir }}/.build"
  register: build_dir

- name: Halt play if .build is missing
  ansible.builtin.assert:
    that:
      - build_dir.stat.exists
      - build_dir.stat.isdir
    fail_msg: "ERROR: The directory '{{ git_dir }}/.build' was not found. Ya gotta build it first, dumb-dumb"
    success_msg: "Build directory verified. Proceeding with deployment."